#welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-text {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;

  white-space: normal;
  /* word-break: break-word; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.word-wrapper {
  display: inline-block;
  white-space: nowrap;
  margin: 0 0.1125em;
}
.welcome-text .word {
  display: inline-block;
}

.welcome-text .letter {
  display: inline-block;
}
#prompt {
  position: absolute;
  bottom: 5svh;
  left: 0;
  right: 0;
  text-align: center;
}
/* #prompt {
  opacity: 1;
  font-size: 1rem;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
} */